# Editor / OS
*~
.DS_Store

# Sailfish SDK / packaging
RPMS/
build/
deploy/
.sfdk/
documentation.list

# Compiled translations
*.qm

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# qmake / Qt build
/.qmake.cache
/.qmake.stash
Makefile*
*build-*
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
*.moc
moc_*.cpp
moc_*.h
moc_predefs.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc

# QtCreator
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.autosave
*.qmlproject.user
*.qmlproject.user.*
CMakeLists.txt.user*

# Qt unit tests
target_wrapper.*

# Opal (generated / local tooling)
libs/opal/
libs/opal-docs/opal-*.qch
